/* General config */
:root {
    --pakistan-green: #243010;
    --tea-green: #c4d6b0;
    --golden-brown: #99621e;
    --grandeis-blue: #256eff;
}

* {
    margin: 0;
    box-sizing: border-box;
    border: 1px solid crimson;
    font-family: 'Open Sans', sans-serif;
    color: var(--pakistan-green);
    font-weight: bold;
}

body {
    background-color: var(--tea-green);
    background-image: linear-gradient(to right, var(--tea-green), #b3b7c6);
    color: #000;
    margin: 0;
}


p {
    margin: 2px;
}

a {
    color: var(--grandeis-blue);
    text-decoration: none;
    margin-left: 10px;
    position: relative;
}

a:hover {
    text-decoration: underline;
}


.flex-row {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.flex-column {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.flex-column p {
    margin: 2px;
}

.flex-column img {
    object-fit: contain;
    width: 95%;
}

.flex-column div {
    object-fit: contain;
    width: 90%;
}


/* Header stuff */
#header {
    width: 100vw;
    height: 7vh;
    border-bottom: 2px solid rgba(0, 0, 0, 50%);
}

/* The tree logo on the header. */
.logo_head {
    width: 40px;
    height: 40px;
    object-fit: cover;
}

.logo-container {
    display: flex;
    align-items: center;
}

.circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* we want the map to be the rest of the available height. */
#map {
    width: 100vw;
    height: 93vh;
    z-index: 0;
}

/* the "ai-generated" preview of the place after greening. */
.image-preview {
    position: relative;
}

.overlaid-image {
    z-index: 10;
    position: absolute;
    top: 0;
}



/* navigation bar inside the header. */
.navbar {
    display: flex;
    align-items: center;
    padding: 10px;
}

.navbar *,
.login-section * {
    font-family: 'Montserrat', sans-serif;
}


.login-section {
    display: flex;
    align-items: center;
    padding: 10px;
}




.login-section input[type="text"],
.login-section input[type="password"],
.login-section button {
    margin: 10px;
}

.login-section button {
    background-color: var(--pakistan-green);
    color: var(--grandeis-blue);
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

/* Source: https://codepen.io/haakseth/pen/KQbjdO */
.legend {
    padding: 6px 8px;
    font: 14px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255, 255, 255, 0.8);
    line-height: 24px;
    color: #555;
}

.legend h4 {
    text-align: center;
    font-size: 16px;
    margin: 2px 12px 8px;
    color: #777;
}

.legend span {
    position: relative;
    bottom: 3px;
}

.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin: 0 8px 0 0;
    opacity: 0.7;
}

.legend i.icon {
    background-size: 18px;
    background-color: rgba(255, 255, 255, 1);
}

/* End Source */

/* The categories inside the legend. */
.category_done {
    filter: hue-rotate(120deg);
}

.category_in_planning {
    filter: hue-rotate(60deg);
}

.category_low_potential {
    filter: hue-rotate(200deg);
}

.category_middle_potential {
    filter: hue-rotate(220deg);
}

.category_high_potential {
    filter: hue-rotate(300deg);
}



.flash-message {
    font-family: 'Open Sans', sans-serif;
    position: fixed;
    margin-top: 2vw;
    margin-left: 10vw;
    margin-right: 10vw;
    padding-top: 1vh;
    padding-left: 1vh;
    padding-bottom: 1vh;
    padding-right: 3vw;

    width: 78vw;

    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.5);

    z-index: 2;

}

.flash-message #close {
    position: fixed;
    left: 85vw;
    color: var(--pakistan-green);
    background-color: white;
}

.donation-form {
    margin-top: 1vh;
}
