* {
    margin: 0;
    box-sizing: border-box;
    /*border: 1px solid crimson;*/
}

p {
    margin: 2px;
}

#header {
    width: 100vw;
    height: 5vh;
    border-bottom: 2px solid rgba(0, 0, 0, 50%);
    z-index: 10;
}

#map {
    width: 100vw;
    height: 95vh;
}

.flex-row {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.flex-column {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

}

.flex-column img {
    object-fit: contain;
    width: 90%;
}
