* {
    margin: 0;
    box-sizing: border-box;
    /*border: 1px solid crimson;*/
}

#header {
    width: 100vw;
    height: 5vh;
}

#map {
    width: 100vw;
    height: 95vh;
}

.flex-center {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

}

.flex-center img {
    object-fit: contain;
    width: 90%;
}
